In [52]:
# ANOVA
import pandas as pd
import statsmodels.formula.api as smf

Income = pd.read_csv("data/Income.dat", sep="\s+")

In [53]:
Income.head(1)

   income  education race
0      16         10    B

In [54]:
fit = smf.ols(formula="income ~ C(race)", data=Income).fit()
print(fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 income   R-squared:                       0.099
Model:                            OLS   Adj. R-squared:                  0.076
Method:                 Least Squares   F-statistic:                     4.244
Date:                Sat, 01 Oct 2022   Prob (F-statistic):             0.0178
Time:                        07:30:15   Log-Likelihood:                -351.13
No. Observations:                  80   AIC:                             708.3
Df Residuals:                      77   BIC:                             715.4
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       27.7500      4.968      5.586      0.000      17.857      37.643
C(race)[T.H]     3.2500      7.273      0.447      0.656     -11.232      17.732
C(race)[T.W]    14.7300      5.708      2.581      0.012       3.364      26.096
==============================================================================
Omnibus:                       32.758   Durbin-Watson:                   2.404
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               60.707
Skew:                           1.569   Prob(JB):                     6.57e-14
Kurtosis:                       5.893   Cond. No.                         5.14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [55]:
import statsmodels.api as sm

In [56]:
fit2 = smf.ols(formula="income ~ C(race) + education", data=Income).fit()
print(fit2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 income   R-squared:                       0.462
Model:                            OLS   Adj. R-squared:                  0.441
Method:                 Least Squares   F-statistic:                     21.75
Date:                Sat, 01 Oct 2022   Prob (F-statistic):           2.85e-10
Time:                        07:30:15   Log-Likelihood:                -330.52
No. Observations:                  80   AIC:                             669.0
Df Residuals:                      76   BIC:                             678.6
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept      -26.5379      8.512     -3.118      0.003     -43.492      -9.584
C(race)[T.H]     5.9407      5.670      1.048      0.298      -5.352      17.234
C(race)[T.W]    10.8744      4.473      2.431      0.017       1.966      19.783
education        4.4317      0.619      7.158      0.000       3.199       5.665
==============================================================================
Omnibus:                       29.194   Durbin-Watson:                   1.900
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.596
Skew:                           1.329   Prob(JB):                     3.11e-13
Kurtosis:                       6.196   Cond. No.                         68.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [58]:
sm.stats.anova_lm(fit2)

             df        sum_sq       mean_sq         F        PR(>F)
C(race)     2.0   3352.470000   1676.235000   7.01344  1.602408e-03
education   1.0  12245.231928  12245.231928  51.23458  4.422192e-10
Residual   76.0  18164.248072    239.003264       NaN           NaN

In [59]:
sm.stats.anova_lm(fit2, typ=2)

                 sum_sq    df          F        PR(>F)
C(race)     1460.583947   2.0   3.055573  5.292198e-02
education  12245.231928   1.0  51.234580  4.422192e-10
Residual   18164.248072  76.0        NaN           NaN